<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include navigation.html %}

  <main role="main">
        <article class="article reveal">
          <span class="article-header">
            <h1>{{ page.title }}</h1>
           <!-- <p>{{ page.description }}</p> -->
            <div class="article-list-footer">
              <h4>
                {{ page.date | date: "%-m/%-d/%Y" }} |
                {% capture words %}
                {{ page.content | number_of_words }}
                {% endcapture %}
                {% unless words contains "-" %}
                {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
                <!--{% endunless %} | {% for tag in page.tags %}
                 <a href="{{ 'tag/' | relative_url }}{{ tag }}">{{ tag }}</a> -->
                {% endfor %} |
                by {{ page.author }}
              </h4>
            </div>
          </span>

          <div class="article-content">
            {{ content }}
          </div>



          {% if site.discus_identifier %}
            <div id="disqus_thread" class="article-comments"></div>
            <script>
              (function() {
                  var d = document, s = d.createElement('script');
                  s.src = '//{{ site.discus_identifier }}.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          {% endif %}
        </article>
  </main>
{% include footer.html %}
  {% include javascripts.html %}
</body>
</html>
