<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include navigation.html %}

  <main role="main">
    <div class="work">
      <div class="worktext">
        <article class="projectinfo">
          <h1>{{ page.title }}</h1>
          <h4>What this is</h4>
          <p>{{ page.about }}</p>
          <h4>For</h4>
          <p>{{page.client}}</p>
        </article>


        </div>
      <article class="workimages">
        {{ content }}
      </article>


    </div>



  </main>
{% include footer.html %}
  {% include javascripts.html %}
</body>
</html>
