<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include navigation.html %}

  <main role="main" class="reveal">


    {% img faculty-studio.png alt:'Christian Solorzano Visual Experiments' %}



<div class="left">


    <div class="statement">
        <h1>
          {{ page.title }}
        </h1>
        <h2>
          {{ page.intro }}
        </h2>
      <hr>
      <p><em>
        Faculty was founded upon the idea that design should be responsible and always driven by an altruistic attitude to improve society and people's lives. Faculty only works with organizations dedicated to improving the world through transparent initiatives.
      </em></p>
    </div>



    <div class="statement">
      <div>
        <h1>Our Principles</h1>
        <h4>Practicing Good Design</h4>
        <p>Approaching problems with an optimistic attitude and motivated to making a difference.</p>

        <h4>Curiosity Driven</h4>
        <p>Asking big questions that turn complexity into simplicity and having fun along the way.</p>

        <h4>Advocating Diversity</h4>
        <p>Recognizing, respecting, and honoring, all voices.</p>

        <h4>Rooted in Kindness</h4>
        <p>Kindness is the reason for it all.</p>

        <h1>Founder</h1>
        <h5>Christian Solorzano</h5>
        <p>Christian is a designer, writer, principal, and creative director at Faculty. He received a Bachelor's Degree in Graphic Design from DePaul University in 2016, and has experience working with non-profits, educational institutions, advertising, and corporate clients across the country. Christian founded Faculty due to his passion for design and community.   </p>

        <h1>Opportunities</h1>
        <p>Faculty is currently looking for collaborators with an interest in creating honest work for the greater good. Please contact <a href="mailto:info@faculty.one">info@faculty.one</a>.</p>




      </div>
    </div>




</div>

<div class="right">
  <h1>Services</h1>
  <ul>

    <h4>Digital</h4>
    <li>Web Design</li>
    <li>UX</li>

    <h4>Print</h4>
    <li>Publication Design</li>
    <li>Posters/Signage</li>
    <li>Book Design</li>

    <h4>Brading</h4>
    <li>Logo Design</li>
    <li>Brand Strategy</li>
    <li>Brand Standards</li>
    <li>Photography</li>

    <h4>Consulting</h4>
    <li>Creative Direction</li>
    <li>Design Mentorship</li>
    <li>Personal Branding</li>

    <h4>Experimental</h4>
    <li>Film</li>
    <li>Art Direction</li>
    <li>Creative Writing</li>
  </ul>
</div>


















  </main>
{% include footer.html %}
  {% include javascripts.html %}
</body>
</html>
