<!doctype html>
<html lang="en">
{% include head.html %}

<body>
{% include navigation.html %}

  <main role="main" class="reveal">



    <div class="statement">
        <h1 style="color: white;">
          {{ page.title }}
        </h1>
        <span class="title-xl">
          {{ page.intro }}
        </span>
    </div>
    <div class="statement">
        <h2>What Faculty does</h2>
        <p>
            Faculty is a graphic design studio that cares. It was founded upon the idea that design ought to improve the human condition. Through partnerships with organizations and institutions focused on doing good, Faculty aims to communicate and produce meaningful executions. Even when not engaged in client work, Faculty is engaged in research and relationships across disciplines and industries.
        </p>
    </div>
    <hr>
    <div class="statement">
        <h1>Our Principles</h1>
        <div class="left">
            <h2>Rooted in Mindfulness</h2>
            <p>Channeling creativity through concentration, clarity, and equanimity.</p>
        </div>
        <div class="right">
            <h2>Engaged with the world</h2>
            <p>Make an impact through engagement with our environment and context.</p>
        </div>
        <div class="left">
            <h2>Honest with self</h2>
            <p>Responsible for one another and holding ourselves accountable.</p>
        </div>
        <div class="right">
            <h2>Optimism in practice</h2>
            <p>Doing what is right because that's the only option.</p>
        </div>
    </div>
      <hr>
    <div class="statement">
        <h1>What Faculty means</h1>
        <h2>Definitions</h2>
        <ol>
            <li>an inherent mental or physical power.</li>
            <li>a group of university departments concerned with a major division of knowledge.</li>
        </ol>
        <p>
            In today’s society of consumption, our faculties are often not included in daily discourse. Distraction threatens our abilities to thrive, so Faculty’s focus is to encourage our faculties to manifest through the arts. Faculty understands the power of collective community and the importance of diversity of thought, which is why we emphasize Faculty, as a division of knowledge that mindfully approaches problems through the a speculative lens of design that considers different outcomes and prioritizes the well-being of society, community, and people.
        </p>
        <h2>What inspires Faculty</h2>
        <div class="left">
            <ul>
                <li>Random acts of kindness</li>
                <li>The Bauhaus</li>
                <li>Eastern Philosophy</li>
                <li>The music of Brian Eno</li>
                <li>Meditation</li>
                <li>A crowded hot train on a Summer day</li>
                <li>Bearing witness to suffering</li>
                <li>Silence</li>
                <li>Diversity of thought</li>
            </ul>

        </div>
        <div class="right">
            <ul>
                <li>Studying with a teacher</li>
                <li>Hydration</li>
                <li>Physical activity</li>
                <li>Watching candles burn</li>
                <li>Poetry</li>
                <li>A dirty old book</li>
                <li>A Charlie Brown Christmas soundtrack</li>
                <li>Typography</li>
                <li>Carl G. Jung</li>
            </ul>
        </div>

    </div>
<hr>
<div class="statement">
    <h1>Opportunities</h1>
        <p>Faculty is currently looking for collaborators with an interest in creating honest work for the greater good. Please contact <a href="mailto:info@faculty.one">info@faculty.one</a>.</p>
      </div>
<hr>
      <div class="statement">
          <h3>About the website</h3>
          <p>This website was built using <a href="http://neat.bourbon.io/" target="_blank">Neat</a>,  <a href="http://bourbon.io/" target="_blank">Bourbon</a>, <a href="https://jekyllrb.com/">Jekyll</a>, and <a href="http://sass-lang.com/" target="_blank">Sass</a>.</p>
          <p>Font-sizes are based on <em>8:9 major second</em> ratio through  <a href="http://www.modularscale.com/" target="_blank">Modular Scale</a>.</p>
      </div>






















  </main>
{% include footer.html %}
  {% include javascripts.html %}
</body>
</html>
